@font-face {
  font-family: "ps3-font";
  src:
    url("/fonts/FOT-Rodin Pro DB.woff2") format("woff2"),
    url("/fonts/FOT-Rodin Pro DB.woff") format("woff");
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#test {
  background-color: red;
  width: 100px;
  height: 100px;
}

.icon-square {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "ps3-font";
  font-size: 15px;
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
  pointer-events: none;
  -webkit-user-select: none;
}

.icon-square-text {
  margin-top: -30px;
  pointer-events: none;
}

.XMB-horizontal {
  display: flex;
  flex-direction: row;
  padding-top: 30vh;
  padding-left: 20vw;
  pointer-events: none;
}

.active-icon {
  background-color: red;
}

.active-sub-item {
  background-color: blue;
}
