/* =======================
   FONTS
======================= */

@font-face {
  font-family: "ps3-font";
  src:
    url("/fonts/FOT-Rodin Pro DB.woff2") format("woff2"),
    url("/fonts/FOT-Rodin Pro DB.woff") format("woff");
  font-display: swap;
}

/* =======================
   ROOT / THEME
======================= */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  html {
    color-scheme: dark;
  }
}

/* =======================
   GLOBAL RESET
======================= */

@keyframes fadeSwitch {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

/* =======================
   MAIN ICONS (TOP ROW)
======================= */

.icon-square {
  width: 120px;
  height: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "ps3-font";
  font-size: 15px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.85);

  opacity: 0.6;

  pointer-events: none;
  user-select: none;
}

.active-icon {
  opacity: 1;
  animation: fadeSwitch 1s ease;
}

.icon-square-text {
  margin-top: -30px;
  pointer-events: none;
}

/* =======================
   XMB LAYOUT ENGINE
======================= */

.XMB-container {
  user-select: none;
  position: relative;
  width: fit-content;
  height: 60vh;

  margin-top: 25vh;
  margin-left: 30vw;
  padding-bottom: 150px;

  /* Geometry interface (JS-driven) */
  --active-x: 0px;
  --row-bottom: 120px;
  --row-top: 0px;

  /* Sub-menu geometry */
  --sub-step: 22px;
  --sub-active-slot: 0;
  --sub-active-idx: 0;

}

.XMB-horizontal {
  display: flex;
  flex-direction: row;
}

/* Sub-menu below active icon */
.XMB-vertical {
  position: absolute;
  left: var(--active-x);
  top: calc(var(--row-bottom) + 40px);
  width: 120px;
  text-align: center;
}

/* Sub-menu above active icon */
.XMB-vertical-above {
  position: absolute;
  left: var(--active-x);
  top: calc(var(--row-top) - 15px);
  width: 120px;
  text-align: center;

  transform: translateY(-100%);
}

/* =======================
   SUB-ITEM STACKS
======================= */

.sub-icon {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 16px;
  font-family: ps3-font;
}

/* Default dim state */
.sub-item {
  opacity: 0.6;
  transition: opacity 120ms ease;
}

/* Active highlight */
.sub-item.active-sub-item {
  opacity: 1;
  animation: fadeSwitch 1s ease;
}

/* Above-stack visual dim */
.above-active {
  opacity: 0.6;
}


.content-div {
  background-color: red;
  width: 700px;
  height: 500px;
  margin-left: 20vw;
  margin-top: 10vh;
  background-image: url("/photosets/set2_hands/photo4_2.png")
}
